$moc: #FFA011; //самый частый оранжевый цвет

  @mixin fonts
  (
    $size: 16px,
    $family: (Roboto Condensed, sans-serif),
    $color: white,
    $weight: 700,
    $transform: uppercase,
    $align: flex-start,
    $margin: 0
  )
  {
    font-size: $size;
    font-family: $family;
    color: $color;
    font-weight: $weight;
    text-transform: $transform;
    text-align: $align;
    margin: $margin;
  }
  @mixin h2
  {
    @include fonts($size: 48px, $family: ("Rubik Mono One", sans-serif), $color: white);
  }
  @mixin h2_800 {
    @include fonts($size: 40px, $family: ("Rubik Mono One", sans-serif), $color: white);
  }
  @mixin h2_400 {
    @include fonts($size: 24px, $family: ("Rubik Mono One", sans-serif), $color: white);
  }




  @mixin display
  (
    $justify-content: flex-start,
    $align-items: center,
    $gap: 10px,
    $flex-direction: row,
    $display: flex,

  )
  {
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
  }


  @mixin block
  (
    $width: 100%,
    $height,
    $index: 1,
    $color: transparent,
  )
  {
    height: $height;
    width: $width;
    z-index: $index;
    background: $color;
  }


  @mixin button
  (

    $width,
    $height,
    $radius,
    $color,
    $border: 1px solid $moc,
  )
  {
    width: $width;
    height: $height;
    border-radius: $radius;
    background: $color;
    border: $border;

  }

  @mixin img
  (
    $width,
    $height,
    $radius: 0,
  )
  {
    height: $height;
    width: $width;
    border-radius: $radius;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
    float: left;
    background-color: transparent;
  }

